/* variables */
/* application.html */
/* line 11, ../../app/stylesheets/custom.scss */
.container {
  width: 1024px;
}

/* line 15, ../../app/stylesheets/custom.scss */
header {
  padding-top: 20px;
}
/* line 18, ../../app/stylesheets/custom.scss */
header img {
  padding: 1em;
}

/* line 21, ../../app/stylesheets/custom.scss */
section {
  margin-top: 1em;
  font-size: 1.2em;
  padding: 20px;
}
/* line 26, ../../app/stylesheets/custom.scss */
section h1 {
  font-size: 5em;
  color: #990000;
}

/* line 32, ../../app/stylesheets/custom.scss */
a {
  color: #993300;
  text-decoration: none;
}
/* line 36, ../../app/stylesheets/custom.scss */
a:hover {
  color: #990000;
  text-decoration: underline;
}
/* line 41, ../../app/stylesheets/custom.scss */
a:visited {
  color: #990000;
}

/* line 46, ../../app/stylesheets/custom.scss */
nav {
  float: right;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 51, ../../app/stylesheets/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 55, ../../app/stylesheets/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 60, ../../app/stylesheets/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 64, ../../app/stylesheets/custom.scss */
nav ul li a:visited {
  color: #990000;
}
/* line 68, ../../app/stylesheets/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 76, ../../app/stylesheets/custom.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 82, ../../app/stylesheets/custom.scss */
footer {
  text-align: center;
  margin-top: 35em;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 89, ../../app/stylesheets/custom.scss */
footer nav {
  float: none;
}
/* line 92, ../../app/stylesheets/custom.scss */
footer nav li {
  padding: 0 15px;
}
/* line 96, ../../app/stylesheets/custom.scss */
footer nav li a:visited {
  color: #990000;
}
/* line 100, ../../app/stylesheets/custom.scss */
footer nav li a:hover {
  text-decoration: underline;
}

/* line 108, ../../app/stylesheets/custom.scss */
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  clear: both;
}

/* line 114, ../../app/stylesheets/custom.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 119, ../../app/stylesheets/custom.scss */
#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 124, ../../app/stylesheets/custom.scss */
.fieldWithErrors {
  display: inline;
}

/* line 128, ../../app/stylesheets/custom.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 138, ../../app/stylesheets/custom.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* line 148, ../../app/stylesheets/custom.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 152, ../../app/stylesheets/custom.scss */
.error_messages ul {
  margin: 0;
}

/* home.html */
/* line 158, ../../app/stylesheets/custom.scss */
.submit {
  margin-left: 6.7em;
  margin-top: 1em;
}

/* line 163, ../../app/stylesheets/custom.scss */
.left {
  float: left;
}
/* line 166, ../../app/stylesheets/custom.scss */
.left .login {
  padding-left: 5em;
}
/* line 169, ../../app/stylesheets/custom.scss */
.left .login .open_id {
  margin-left: 4em;
}

/* line 175, ../../app/stylesheets/custom.scss */
.right {
  float: right;
}

/* users#show.html */
/* line 182, ../../app/stylesheets/custom.scss */
.profile img.gravatar {
  border: 1px solid #999;
}
