/* variables */
/* application.html */
/* line 11, ../../app/stylesheets/custom.scss */
.container {
  width: 1024px;
}

/* line 15, ../../app/stylesheets/custom.scss */
header {
  padding-top: 20px;
}
/* line 18, ../../app/stylesheets/custom.scss */
header img {
  padding: 1em;
}

/* line 21, ../../app/stylesheets/custom.scss */
section {
  margin-top: 1em;
  font-size: 1.2em;
  padding: 20px;
}
/* line 26, ../../app/stylesheets/custom.scss */
section h1 {
  font-size: 5em;
}

/* line 31, ../../app/stylesheets/custom.scss */
a {
  color: #993300;
  text-decoration: none;
}
/* line 35, ../../app/stylesheets/custom.scss */
a:hover {
  color: #990000;
  text-decoration: underline;
}
/* line 40, ../../app/stylesheets/custom.scss */
a:visited {
  color: #990000;
}

/* line 45, ../../app/stylesheets/custom.scss */
nav {
  float: right;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 50, ../../app/stylesheets/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 54, ../../app/stylesheets/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 59, ../../app/stylesheets/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 63, ../../app/stylesheets/custom.scss */
nav ul li a:visited {
  color: #990000;
}
/* line 67, ../../app/stylesheets/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 75, ../../app/stylesheets/custom.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 81, ../../app/stylesheets/custom.scss */
footer {
  text-align: center;
  margin-top: 35em;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 88, ../../app/stylesheets/custom.scss */
footer nav {
  float: none;
}
/* line 91, ../../app/stylesheets/custom.scss */
footer nav li {
  padding: 0 15px;
}
/* line 95, ../../app/stylesheets/custom.scss */
footer nav li a:visited {
  color: #990000;
}
/* line 99, ../../app/stylesheets/custom.scss */
footer nav li a:hover {
  text-decoration: underline;
}

/* line 107, ../../app/stylesheets/custom.scss */
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  clear: both;
}

/* line 113, ../../app/stylesheets/custom.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 118, ../../app/stylesheets/custom.scss */
#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 123, ../../app/stylesheets/custom.scss */
.fieldWithErrors {
  display: inline;
}

/* line 127, ../../app/stylesheets/custom.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 137, ../../app/stylesheets/custom.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* line 147, ../../app/stylesheets/custom.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 151, ../../app/stylesheets/custom.scss */
.error_messages ul {
  margin: 0;
}

/* home.html */
/* line 157, ../../app/stylesheets/custom.scss */
.submit {
  margin-left: 6.7em;
  margin-top: 1em;
}

/* line 162, ../../app/stylesheets/custom.scss */
.left {
  float: left;
}
/* line 165, ../../app/stylesheets/custom.scss */
.left .intro h1 {
  color: #990000;
}
/* line 169, ../../app/stylesheets/custom.scss */
.left .login {
  padding-left: 5em;
}
/* line 172, ../../app/stylesheets/custom.scss */
.left .login .open_id {
  margin-left: 4em;
}

/* line 178, ../../app/stylesheets/custom.scss */
.right {
  float: right;
  padding-top: 5em;
}
