/* variables */

$main-colour: #990000;

$a-colour: #993300;
$a-hover-colour: $main-colour;
$a-visited-colour: $main-colour;

/* application.html */

.main {
    background:#fff url(/images/header_background.png) 0 0 repeat-x;
}

.container {
    width: 920px;
}

header {
    padding-top: 20px;
}

section {
    margin-top: 1em;
    font-size: 1.2em;
    padding: 20px;

    h1 {
        padding-top: 1em;
        font-size: 3em;
        color: $main-colour;
    }
}

a {
    color: $a-colour;
    text-decoration: none;

    &:hover {
        color: $a-hover-colour;
        text-decoration: underline;
    }

    &:visited {
        color: $a-visited-colour;
    }
}

nav {
    float: right;
    padding: 0 0.7em;
    white-space: nowrap;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 0.2em 0;

            a {
                padding: 0 5px;
                font-weight: bold;

                &:visited {
                    color: $a-visited-colour;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 15em;
    width: 920px;
    margin-left: auto;
    margin-right: auto;

    nav {
        float: none;

        li {
            padding: 0 15px;

            a {
                &:visited {
                    color: $a-visited-colour;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.notice, .error, .alert {
  margin-top: 5em;
  margin-bottom: 0em;
}

.error, .alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* home.html */

.submit {
    margin-left: 6.7em;
    margin-top: 1em;
}

.register {
    float: right;
}

/* users#show.html */

.profile {
    .gravatar {

        position: absolute;

        img {
            border: 1px solid #999;
        }
    }

    .email {
        position: relative;
        margin-left: 10em;
    }

    .projects {
        position: relative;
        margin-left: 10em;
        padding-top: 2em;
    }
}

.actions {
    margin-left: 17em;
}

/* flash */

.success {
    margin-top: 5em;
}