%footer
  %nav
    %ul
      %li= link_to "Wiki", wiki_path, :target => "_blank"
      %li= link_to "Contact", contact_path, :target => "_blank"
      %li= link_to "Issues", issues_path, :target => "_blank"