%header
  = image_tag "logo.png", :alt => "Saffron", :width => 200, :height => 125
  %nav.round
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Wiki", wiki_path, :target => "_blank"
      %li= link_to "Log in", "#"